/* Font import */
@import url('https://fonts.googleapis.com/css?family=Monserrat:500');

/* General Page Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Monserrat", sans-serif;
    background-color: #f0f0f0;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5;
}

/* Header styling */
.header{
    margin-bottom: -85px;
    box-shadow: 0px 0px 6px rgb(69, 66, 66);
    position: sticky;
    top: 0;
    background-image: url(/assets/images/hero.svg);
    /* Image from: Harryarts on Vecteezy: https://www.vecteezy.com/vector-art/693772-geometric-technology-banner-background-illustration */
    background-size: 105%;
}

.header-filter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 10px 0;
    background-color: rgba(204, 150, 69, 0.8);
}

.header-ul, .header-li{
    display: inline-block;
    padding: 3px 20px;
}

.name{
    display: inline-block;
    padding: 5px 15px 5px 70px ;
    background-color: rgb(70, 70, 70);
}


.header a, h1{
    /* When we change font-size, it may make more sense to separate these selectors into 2 selectors */
    color: #EBEBEB;
}

/* Hero section */
.hero{
    background-image: url(/assets/images/hero.svg);
    /* Image from: Harryarts on Vecteezy: https://www.vecteezy.com/vector-art/693772-geometric-technology-banner-background-illustration */
    background-position: bottom;
    background-size: 105%;
    padding: 120px 0 40px 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.hero h1{
    display: flex;
}

.tagline-box{
    background-color: rgb(70, 70, 70);
    padding: 5px 40px 5px 5px;
}

.tagline-box h2{
    color: #EBEBEB;
}

/* Subheading styling */
.body-block{
    display: flex;
    margin: 20px 15px;
}
.title-block{
    border-right: 3px solid black;
    text-align: right;
    width: 13ch;
    padding: 30px;
    font-size:xx-large;
    /* margin: auto;  I'm trying to use margin auto to make all of the title blocks more flexible, but it isn't working */
}

/* MAIN BODY STYLING */
.section-content{
    /* This will have to change in media query */
    width: 80%;
    margin: 10px 0 10px 15px;
    padding: 5px;

}

/* About Me section */


/* My Work section */
.portfolio-borders{
    border: 10px solid black;
    margin: 10px 0 10px 15px;
    padding: 175px 0 50px 0;
}

.portfolio-tools{
    color: #EBEBEB;
    background-color: black;
    display: inline-block;
    padding: 8px;
    max-width: 23ch;
}

.portfolio-big{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

.portfolio-rest{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-rest > *{
    flex: 1 1 45%;
}

.portfolio-small{
    padding: auto 37px auto 37px;
}


/* Contact Me section */
.contact-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.contact-list li a{
    color: black;

}