/* Font import */
@import url('https://fonts.googleapis.com/css?family=Monserrat:500');

/* General Page Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Monserrat", sans-serif;
    background-color: #EBEBEB;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header styling */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgb(70, 70, 70);
}
.header-ul, .header-li{
    display: inline-block;
    padding: 0 20px;
}


.header a, h1{
    /* When we change font-size, it may make more sense to separate these selectors into 2 selectors */
    color: #EBEBEB;
}

/* Hero section */